require "rails_helper"

module Mutations
  RSpec.describe <%= name.camelize %>, type: :request do
    describe "resolve" do
      it "should do something" do
        post "/graphql", params: {query: query(<%= "#{arguments.map{|argument| "#{argument.should_quote? ? "\"" : ""}\#{#{argument.name.upcase}}#{argument.should_quote? ? "\"" : ""}" }.join(", ")}" %>)}
        query_response = data(response)
      end
    end

    def data(response)
      gql_response(response, "<%= name.camelize(:lower) %>")
    end

    def query(<%= "#{arguments.pluck(:name).join(", ")}" %>)
      <<~GQL
        mutation{
          <%= name.camelize(:lower) %>(input: {<%= "#{arguments.map{|argument| "#{argument.name.camelize(:lower)}: #{argument.should_quote? ? "\"" : ""}\#{#{argument.name}}#{argument.should_quote? ? "\"" : ""}" }.join(", ")}" %>}){
            status
            data
            errors{
              property
              message
            }
          }
        }
      GQL
    end
  end
end